/* this for nav bar  */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: "Fira Sans Extra Condensed", sans-serif;
  background-color: rgb(223, 0, 0);
  font-family: "Fira Sans Extra Condensed", serif;
  font-weight: 500;
  font-style: normal;
  background-image: url(/assets/images/[4K]\ Palm\ Tree\ Loop\ -\ Glowing\ Tubes\ -\ SICK\ Visuals.mp4);
  background-size: cover;
  background-repeat: no-repeat;
}

* {
  font-family: myFirstFont;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b9c1ca;
  padding: 10px 20px;
  color: white;
}
.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}
.navbar a:hover {
  text-decoration: underline;
}
.navbar .logo {
  font-weight: bold;
  font-size: 1.2em;
}
.navbar .nav-links {
  display: flex;
}

/* this for nav section */


/* form */
:root {
  --colorTexteForm: wheat;
}

form {
  margin-left: 300px;
  background-image: url(/assets/images/fifa-mobile-grid-tile-season-5-16x9-1.jpg.adapt.crop191x100.1200w.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 30%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: end;
  border-radius: 12px;
  position: absolute;
  z-index: 1;
  color: var(--colorTexteForm);
}
.DEV1 {
  display: flex;
  padding: 12px;
  flex-wrap: wrap;
  width: 90%;
  gap: 20px;
  flex-direction: row;
  height: 40%;
  justify-content: center;
  justify-content: space-evenly;
}
.input {
  border-radius: 3px;
  width: 40%;
  height: 4rem;
  background-color: rgba(240, 234, 234, 0);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.input1 {
  border-radius: 3px;
  background-color: brown;
  flex-wrap: wrap;
  width: 100%;
  height: 40%;
}
.img {
  width: 60px;
  box-shadow: 20px 10px 20px 20px rgb(119, 114, 114) inset;
}
#iimage {
  background-color: aqua;
  width: 12px;
  display: none;
}
#inputImges {
  width: 300px;
  display: flex;
  column-gap: 30px;
}
#iimage2 {
  background-color: aqua;
  width: 12px;
  display: none;
}
#inputImges2 {
  width: 300px;
  display: flex;
  column-gap: 30px;
}
#iimage3 {
  background-color: aqua;
  width: 12px;
  display: none;
}
.DN {
  display: none;
}
.DEV2 {
  padding: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: row;
  height: 40%;
  justify-content: center;
  justify-content: space-evenly;
}
.input2 {
  width: 70px;
  border-radius: 3px;
  height: 45px;
  background-color: rgba(248, 248, 248, 0);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.in2 {
  border-radius: 3px;
  width: 40px;
}
.submi {
  margin: 10px;
  width: 100px;
  height: 40px;
}

.contair-pransipal {
  display: flex;
height: 2px;  
  gap: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container-changement {
  height: auto;
  width: 30rem;
  
}
.imge-bg {
  z-index: -1;
  position: relative;
  display: flex;
  background: #a48b8b00;
}

.cart {
  width: 7rem;
  height: 8.5rem;
  background-image: url(/assets/images/badge_gold.webp);
  background-size: cover;
  padding-bottom: 10px;
  background: #000;
}
.attack {
  padding: 10px;
  height: 10.4rem;
  width: 98%;
  display: flex;

  justify-content: space-evenly;
}
.cm {
  padding: 10px;
  width: 98%;
  height: 10.4rem;
  display: flex;
  justify-content: space-evenly;
}
.df{
  width: 98%;
  height: 10.4rem;
  display: flex;
  justify-content: space-around;
}

.GK {
  padding: 10px;
  width: auto;
  height: 12.8rem;
  display: flex;
  justify-content: space-evenly;
}
.dfr{
  padding: 10px;
  width: auto;
  display: flex;
  justify-content: space-around;
  background-color: #d14141;
}


.container-cart {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  display: block;
  gap: 10px;
  justify-content: space-evenly;
}
.container-ollPlyers{
 height: 0PX;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  row-gap: 10px;
}



/* this for cart */
.olcard{
background-image: url(/assets/images/badge_gold.webp); 
background-size: contain;
background-repeat: no-repeat;
background-color: #d14141;
border: gold solid 2px;
 width: 180px;
 padding: 2%;
 
  animation-name:  infiniteupdown;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function:  ease;
  transition: all .1s;
  position:inherit;
  bottom: 650px;
  left: 4%;

}
.btn2{  
  background: rgb(212, 255, 0);
  align-items: end;
  width:10%;
  height: 2rem;
  position: relative;
  top: 35%;
  left: 90%;
  }
  .just-cart{
    display: block;
    position: relative;
    top:2px;
    width: fit-content;
right: 3%;    
  }

.card-header{

  height: 40px;
 width: 40px;
 position: absolute;
 margin-top: 15%;
}
.player-stats{
  display: flex;
  
  height: 20px;
  justify-content: center;

}
.player-name{
  text-align: center;
  padding-top: 0px; 
}

.player-image{
 margin: auto;
}
.card-footer{

  display: flex;
  height: 15px;
  justify-content: center;
  justify-content: space-evenly;
}
.logo img{
  width: 12px;
 
}

.stat{
  text-align: center;
  font-size: 8px;
  height: 20px;
  margin: 2px;

}







@media screen and (max-width: 375px) {
  .contair-pransipal {
    display: flex;
    background-color: rgb(0, 0, 0);
    gap: 10px;
    width: 900px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .container-changement {

    width: 100%;
    
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b9c1ca;
    padding: 10px 20px;
    width: 900px;
    color: white;
  }
  
}

.olcardS{
  width: 8rem;
  height: 9.5rem;

  background-image: url(/assets/images/badge_gold.webp);
  background-size: cover;
  padding-bottom:15px;
  }
  
  .btn2{  
    background: rgb(200, 209, 152);
    align-items: end;
    width:10%;
    height: 2rem;

    

    }
    .just-carte{
      display: block;
      width: 7rem;
      margin-top: 44px;

    
    }
  
  .card-headere{
   position: absolute;
   margin-left: 14px;

  }
  .player-statse{
    display: flex;
    width: 70%;
    height: 1rem;
    justify-content: center;
    margin-left: 17%;

  
  }
  .player-namee{
    text-align: center;
    font-size: 70%;
  }
  
  .player-imagee{
    height: 4.2rem;

  }
  .player-imagee img{
    width: 60%;
    margin-left:28%;   

  }
  .card-footere{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;

  }
  
  .logoe img{
   width: 9px;
  }
  
  .state{
    text-align: center;
    font-size:50%;
    width: 11%;
    height: 20px;
    margin: 5%;  
  }
  .container-changement{
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    background-color: #716767a1;
  }
  .container-changement .olcardS{
    height: 11.2rem;
  }
  

  